@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Nanum+Gothic:wght@400;700&display=swap);
@font-face {
  font-family: "finkheavy";
  src: url("/fonts/finkheavy.ttf");
}
@font-face {
  font-family: "rodin";
  src: url("/fonts/rodin.otf");
}
.carousel-item {
  height: 400px;
}

.about {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.about #img-div {
  height: 450px;
  width: 600px;
  background-image: url("/img/figstreet.jpeg");
  background-size: cover;
}
.about #text {
  padding: 0 30px;
}
.about #text #uppercase {
  text-transform: uppercase;
}

.content {
  padding: 0;
}

.block {
  padding: 30px 50px;
}
