@import "partial";

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(.95);
    }

    70% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-image: linear-gradient(90deg, $beige,$lightAccent,$lightBlue);
}

a {
    text-decoration: none;
    color: $grey;

    &:hover {
        color: $darkContrast;
        transition: all .3s 0s ease-in-out;
    }
}

header {
    width: 80%;
    position: sticky;
    top: 0px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 0 0 10px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 10px rgba(100, 100, 100, .2);

    z-index: 2;
}

#logo {
    width: 60%;

    h1 {
        font-family: 'finkheavy';
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        margin: 0;

        a {
            color: $green;
            transition: all .3s ease-in-out;

            &:hover {
                color: $darkContrast;
            }
        }
    }
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    border-radius: 10px;
    padding: 2%;
    margin-top: 30px;

    > div {
        margin: 20px 0;
    }
}

.nav-links {
    display: flex;
    width: 20%;

    a {
        margin: 0 30px;
        color: $darkAccent;

        &:hover {
            color: $contrast;
            transition: .3s 0s ease-in-out;
        }
    }
}

.bottom-nav {
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    margin-top: 30px;
    padding: 40px 0;

    div {
        width: 25%;
        display: flex;
        flex-wrap: wrap;
    }

    h3 {
        font-family: 'finkheavy';
    }

    a {
        width: 100%;
    }
}

.footer {
    font-size: 10px;
    text-align: center;
    background-color: $lightGrey;
    color: $accent;
    padding: 10px 0;

    p {
        margin: 0;
    }
}

.fa {
    position: relative;
    top: 16px;
    left: 20px;
    color: $red;
    visibility: hidden;
    opacity: 0;
    transition: .5s 0s ease-in-out;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .gallery-box {
        width: 32%;
        margin-bottom: 15px;

        &:hover {
            animation: bounce .7s 0s;

            .fa {
                visibility: visible;
                opacity: 1;
                transition: .5s .8s ease-in-out;
            }
        }

        p {
            margin: 0;
            margin-top: 5px;
        }

        .img-container img {
            width: 100%;
            height: auto;
        }

        .info-container {
            display: flex;
            color: $grey;
        
            p {
                width: 50%;
        
                &:nth-child(2) {
                    text-align: right;
                    color: $green;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.modal {
    img {
        width: 85%;
        margin: 20px auto;
        display: block;
    }

    .modal-body {
        padding: 30px;
    }
}

.carousel-item {
    height: 400px;
}

.about {
    display: flex;
    align-items: center;

    #img-div {
        height: 450px;
        width: 600px;
        background-image: url("/img/figstreet.jpeg");
        background-size: cover;
    }

    #text {
        padding: 0 30px;
    }
}

.no-padding {
    padding: 0;
}

// .block {
//     padding: 30px;
// }

form {
    width: 60%;
    margin: 50px auto;

    div {
        margin: 20px 0;
    }

    label {
        text-transform: uppercase;
    }

    .form-control, .form-select {
        border: 1px solid $lightAccent;
    }
}

.btn {
    background-color: $black;
    color: $white;

    &:hover {
        color: $lightAccent;
    }
}

.comments-container {
    height: 300px;
    overflow: scroll;
    background-color: $lightGrey;
    padding: 30px;
    margin-bottom: 30px;

    .comment {
        background-color: $lightAccent;
        border-radius: 8px;
        padding: 20px;
        margin: 20px 0;

        h6 {
            text-transform: uppercase;
            color: $darkContrast;
            font-weight: bold;
        }

        p {
            margin: 0;

            &.comment-date {
                color: $grey;
                font-size: 14px;
            }
        }
    }
}



#gallery-container {
    width: 70%;
}

#gallery-container p {
    margin: 0;
}

.gallery-box {
    width: 48%;
}

#profile-info {
    width: 24%;
    text-align: center;
    /* border: 1px solid #CCC; */
    border-radius: 15px;
    background-color: #e9edc9;
    margin: 20px;

    display: flex;
    flex-direction: column;
}

.profile-img {
    border-radius: 50%;
    background-color: #f4d35e;
    width: 130px;
    height: 130px;
    margin: 40px auto;
}

#profile-info div img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#logout {
    margin-top: 80px;
}

.fa-pen-clip {
    color: #27B3CF;
}

button.button-link {
    background-color: none;

}