@import "partial";

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(.95);
    }

    70% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-image: linear-gradient(90deg, $beige,$lightAccent,$lightBlue);
}

h3, h4, h5 {
    font-family: $labelFont;
    margin: 0;
}

a {
    text-decoration: none;
    color: $grey;

    &:hover {
        color: $darkContrast;
        transition: all .3s 0s ease-in-out;
    }
}

header {
    width: 80%;
    position: sticky;
    top: 0px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 0 0 10px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 10px rgba(100, 100, 100, .2);

    z-index: 2;
}

#logo {
    width: 40%;

    h1 {
        font-family: $displayFont;
        text-transform: uppercase;
        text-align: center;
        font-size: 50px;
        margin: 0;

        a {
            color: $green;
            transition: all .3s ease-in-out;

            &:hover {
                color: $darkContrast;
            }
        }
    }
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    border-radius: 10px;
    padding: 2%;
    margin-top: 30px;
    min-height: 400px;

    > div {
        margin: 20px 0;
    }
}

#heading {
    display: flex;
    justify-content: center;

    h4 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 20px auto;
        padding: 8px 15px;
        display: inline-block;
        border-bottom: 3px solid $contrast;
    }
}

.nav-links {
    display: flex;
    width: 20%;

    a {
        margin: 0 30px;
        color: $darkAccent;

        &:hover {
            color: $contrast;
            transition: .3s 0s ease-in-out;
        }
    }

    form {
        margin: 0;
    }
}

.bottom-nav {
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    margin-top: 30px;
    padding: 40px 0;

    div {
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    h3 {
        font-family: $displayFont;
    }

    a {
        width: 100%;
    }

    form button {
        color: $grey;
    }
}

.footer {
    font-size: 10px;
    text-align: center;
    background-color: $lightGrey;
    color: $accent;
    padding: 10px 0;

    p {
        margin: 0;
    }
}

#gallery-container p {
    margin: 0;
}

.gallery {
    display: flex;
    // justify-content: flex-start;
    flex-wrap: wrap;

    .gallery-box {
        width: 30%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 15px;

        form {
            display: inline;
        }

        button.button-link {
            // all: unset;
            position: relative;
            top: 16px;
            left: 20px;
            color: $red;
            visibility: hidden;
            opacity: 0;
            transition: .5s 0s ease-in-out;
            cursor: pointer;

            filter:drop-shadow(2px 2px 4px rgba(35, 35, 35, .5));

            &.button-pen {
                left: 30px;
                color: $green;
            }
        }

        &:hover {
            animation: bounce .7s 0s;

            button.button-link {
                visibility: visible;
                opacity: 1;
                transition: .5s .8s ease-in-out;
            }
        }

        p {
            margin: 0;
            margin-top: 5px;
        }

        .img-container {
            height: 180px;
            overflow: hidden;
            display: flex;
            align-items: flex-start;

            img {
                width: 100%;
                height: auto;
            }
        }

        .info-container {
            display: flex;
            align-items: center;
            color: $grey;
        
            p {
                &:first-child {
                    width: 35%;
                    font-style: italic;
                }
        
                &:nth-child(2) {
                    width: 65%;
                    text-align: right;
                    color: $green;
                    text-transform: uppercase;
                    font-family: $labelFont;
                    font-size: 14px;

                    &.red {
                        color: $red;
                    }
                    
                    &.orange {
                        color: $darkContrast;
                    }
                    
                    &.yellow {
                        color: $contrast;
                    }
                    
                    &.green {
                        color: $accent;
                    }
                    
                    &.lightblue {
                        color: $lightBlue;
                    }
                    
                    &.darkblue {
                        color: $darkBlue;
                    }
                    
                    &.purple {
                        color: $purple;
                    }
                    
                    &.pink {
                        color: $pink;
                    }
                }
            }
        }
    }
}

.modal {
    h3 {
        text-align: center;
    }

    img {
        width: 85%;
        margin: 20px auto;
        padding: 20px;
        display: block;
        border: 2px solid $black;
    }

    .modal-body {
        padding: 50px;
    }

    .submitted-by {
        text-align: center;
    }

    .description {
        font-style: italic;
        color: $darkAccent;
        background-color: $lightBlue;
        padding: 30px;
    }

    .build-tags {
        display: flex;
        justify-content: space-around;
        margin: 30px 0;
        font-size: 14px;

        p {
            width: 25%;
            color: $white;
            padding: 8px;
            border-radius: 8px;
            text-align: center;
            margin: 0;
            
            &:first-child {
                background-color: $green;
            }

            &:nth-child(2) {
                background-color: $darkContrast;
            }

            &:last-child {
                background-color: $pink;
            }
        }
    }
}

form {
    margin: 0;

    div {
        margin: 20px 0;
    }

    label {
        text-transform: uppercase;
    }

    .form-control, .form-select {
        border: 1px solid $lightAccent;
    }
}

.btn {
    background-color: $black;
    color: $white;

    &:hover {
        color: $lightAccent;
    }
}

.comments-container {
    max-height: 300px;
    overflow: scroll;
    background-color: $lightGrey;
    padding: 30px;
    margin-bottom: 30px;

    p {
        margin: 0;
    }

    .comment {
        background-color: $lightAccent;
        border-radius: 8px;
        padding: 20px;
        margin: 20px 0;

        h6 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            background-color: $darkAccent;
            color: $white;
            display: inline-block;
            padding: 5px 12px;
            margin-bottom: 10px;
            border-radius: 10px;
        }

        p {
            &.comment-date {
                color: $grey;
                font-size: 14px;
            }
        }

        .comment-form {
            display: flex;
            justify-content: flex-end;
            

            form {
                margin: 0 20px;
                text-align: right;
            }
        } 
    }
}

#logout {
    margin-top: 80px;
}

.fa-pen-clip {
    color: #27B3CF;
}

button.button-link {
    background-color: none;
    all: unset;
    display: inline;
    cursor: pointer;

    &:hover {
        color: $contrast;
        transition: .3s 0s ease-in-out;
    }
}

// .modal-body button.button-link {
    
// }

form {
    &#narrow-form {
        margin: 50px auto;
        width: 60%;
    }

    &#edit-form {
        width: 80%;
        margin: 50px auto;
    }
}

.modal-buttons {
    display: flex;
    justify-content: center;

    form {
        display: inline;
        margin: 0 20px;
        text-align: right;
    }
}