@import "partial";

.carousel-item {
    height: 400px;
}

.about {
    display: flex;
    align-items: center;

    #img-div {
        height: 450px;
        width: 600px;
        background-image: url("/img/figstreet.jpeg");
        background-size: cover;
    }

    #text {
        padding: 0 30px;
    }
}

.content {
    padding: 0;
}

.block {
    padding: 30px 50px;
}